/* empieza navbar */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  scroll-behavior: smooth; }

.navbar-titulo {
  font-size: 3rem; }

a {
  text-decoration: none;
  color: aliceblue; }
  a .nav-link {
    font-weight: bold; }

/* final navbar */
/* COMIENZA ARTICULO DE BIENVENIDA */
.articTotal {
  display: flex;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  height: 100%; }
  .articTotal .tituP {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; }
    .articTotal .tituP .bienvenido {
      font-size: 60px;
      margin: 5px 5px 5px 5px;
      padding: 5% 5% 5% 5%;
      font-weight: bold; }
    .articTotal .tituP .bienveP {
      text-align: justify;
      margin: 8px 10px 30px 10px;
      width: auto; }
  .articTotal .contVideo {
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    display: flex; }

/* FINAL ARTICULO DE BIENVENIDA */
/* COMIENZA ARTICULO DE CARTAS DE CADA CURSO */
.listaCursos {
  background-color: #0093e9;
  background-image: linear-gradient(0deg, #0093e9 0%, #80d0c7 100%); }
  .listaCursos .divh1 {
    height: 150px;
    display: flex;
    background-image: url(./../img/navcarbono.jpg);
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center; }
    .listaCursos .divh1 .parte {
      text-align: center;
      font-size: 60px;
      color: aliceblue;
      width: 100%; }
  .listaCursos .contTarj {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "gridTrainer gridBox gridPrepF" "gridTenis gridCalis gridNutri";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center; }
    .listaCursos .contTarj .cadaCurso {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 70%;
      margin: 25px 25px 25px 25px;
      background-color: white;
      justify-content: space-between;
      border-radius: 10px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box; }
      .listaCursos .contTarj .cadaCursohover {
        box-shadow: #26394d 0px 20px 30px -10px; }
      .listaCursos .contTarj .cadaCurso .imgCurso {
        width: 100%;
        border-radius: 3px;
        height: 200px;
        margin-bottom: 15px; }
      .listaCursos .contTarj .cadaCurso .cartaTitu {
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold; }
      .listaCursos .contTarj .cadaCurso .cuotas {
        color: green;
        margin-top: 15px; }
      .listaCursos .contTarj .cadaCurso .suscribe {
        padding-bottom: 10px;
        align-items: center;
        background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #ffffff;
        display: flex;
        font-family: Phantomsans, sans-serif;
        font-size: 18px;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 140px;
        padding: 3px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        transition: all 0.3s; }
      .listaCursos .contTarj .cadaCurso .suscribe:active,
      .listaCursos .contTarj .cadaCurso .suscribe:hover {
        outline: 0; }
      .listaCursos .contTarj .cadaCurso .suscribe span {
        background-color: #05062d;
        padding: 16px 24px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: 300ms; }
        .listaCursos .contTarj .cadaCurso .suscribe spanhover span {
          background: none; }
        .listaCursos .contTarj .cadaCurso .suscribe spanactive {
          transform: scale(0.9); }
  .listaCursos .gridTrainer {
    grid-area: gridTrainer; }
  .listaCursos .gridBox {
    grid-area: gridBox; }
  .listaCursos .gridPrepF {
    grid-area: gridPrepF; }
  .listaCursos .gridTenis {
    grid-area: gridtenis; }
  .listaCursos .gridCalis {
    grid-area: gridCalis; }
  .listaCursos .gridNutri {
    grid-area: gridNutri; }

/* TERMINA ARTICULO DE CARTAS DE CADA CURSO */
/* COMIENZA SOBRE NOSOTROS */
.SobreNostotal {
  height: 100%; }
  .SobreNostotal .sobreNos {
    background-color: #0093e9;
    background-image: linear-gradient(180deg, #0093e9 0%, #80d0c7 100%);
    padding: 50px 100px 50px 100px;
    text-align: justify;
    justify-content: center; }
    .SobreNostotal .sobreNos .bienveP {
      font-size: 25px; }

/* TERMINA SOBRE NOSOTROS */
/* COMIENZA ANIDACION DE FOOTER */
.totalRedes {
  background-image: url(./../img/footercarbono.webp);
  background-size: contain;
  border-style: hidden;
  height: 100%;
  background-size: cover; }
  .totalRedes .tituRedes {
    color: white;
    display: flex;
    padding-top: 50px;
    padding-left: 50px; }
  .totalRedes .redes {
    display: flex;
    padding-left: 50px; }
    .totalRedes .redes li {
      margin-right: 5px;
      list-style-type: none;
      margin-top: 10px; }
      .totalRedes .redes li .logos {
        border-radius: 50%;
        width: 25px;
        height: 25px; }

.ubica {
  display: flex;
  margin: 25px 25px 25px 25px; }
  .ubica ul li {
    color: #f1f1f1;
    list-style-type: none;
    margin-top: 10px;
    margin-right: 25px; }
