* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  scroll-behavior: smooth;
}

/*--------------- PAGINA INDEX -------------------*/ 
.containerTotal{
  width: fit-content;
  height: 100%;
}

.contVideo{
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    display: flex;
}
.h1.bienvenido {
  padding: 5% 5% 0% 5%;
  text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; font-size: 4rem; 
  background: #000000; 
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text; 
  color: transparent; 
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.164),0px -1px 1px rgba(0,0,0,0.3);

}
.navbar-titulo{
  font-size: 3rem;
}
a.nav-link{
  font-weight: bold;
}
a {
  text-decoration: none;
  color: aliceblue;

}
article.articTotal {
  display: flex;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  height: 100%;
}
.tituP {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;


}



p.bienveP {
  text-align: justify;
  margin: 8px 10px 30px 20px;
  width: auto;
  color:  rgb(0, 0, 0);
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text; 
}
.divh1{
  height: 120px;
  display: flex;
  background-image: url(./../img/navcarbono.jpg);
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

.contTarj {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "gridTrainer gridBox gridPrepF"
    "gridTenis gridCalis gridNutri";
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
}
.gridTrainer {
  grid-area: gridTrainer;
}
.gridBox {
  grid-area: gridBox;
}
.gridPrepF {
  grid-area: gridPrepF;
}
.gridTenis {
  grid-area: gridtenis;
}
.gridCalis {
  grid-area: gridCalis;
}
.gridNutri {
  grid-area: gridNutri;
}
.listaCursos{
  background-color: #0093E9;
  background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 100%);
  
}
.parte {
  text-align: center;
  font-size: 60px;
  color: aliceblue;
  width: 100%;
}
.sobreNos {
  background-color: #0093E9;
  background-image: linear-gradient(180deg, #0093E9 0%, #80D0C7 100%);
  
  padding: 50px 100px 50px 100px;
  text-align: justify;
  justify-content: center;
}
.sobreNos p {
  font-size: 20px;
}

.imgCurso {
  width: 100%;
  border-radius: 3px;
  height: 200px;
  margin-bottom: 15px;
}
.cadaCurso {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 25px 25px 25px 25px;
  background-color: white;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
 
}
.cadaCurso:hover {

   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.cartaTitu {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.cuotas {
  color: green;
  margin-top: 15px;
}
.cadaCurso p {
  margin-bottom: 20px;
}
button.suscribe{
  margin-bottom: 10px;
}
.suscribe {
  padding-bottom: 10px;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
 }
 
 .suscribe:active,
 .suscribe:hover {
  outline: 0;
 }
 
 .suscribe span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 }
 
 .suscribe:hover span {
  background: none;
 }
 
 .suscribe:active {
  transform: scale(0.9);
 }

/* FOOTER REDES */
.totalRedes {
  background-image: url(./../img/footercarbono.webp);
  background-size: contain;
  border-style: hidden;
  height: 100%;
  background-size: cover;
}

.footRedes {
  display: block;
}

ul.footRedes {
  display: block;
}

.tituRedes {
  color: white;
  display: flex;
  padding-top: 50px;
  padding-left: 50px;
}
.redes {
  display: flex;
  padding-left: 50px;
}
.redes li {
  margin-right: 5px;
  list-style-type: none;
  margin-top: 10px;
}

.logos {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
footer {
  display: flex;
  justify-content: space-around;
}
.ubica li {
  color: rgb(241, 241, 241);
  list-style-type: none;
  margin-top: 10px;
  margin-right: 25px;
}
.ubica {
  display: flex;
  margin: 25px 25px 25px 25px;
}
/* TERMINA FOOTER REDES */

/* PAGINA INGRESO */
.IniSesion {
  display: flex;
  align-content: center;
  height: auto;
  justify-content: center;

}

.fondoTo{
  background-image: url(./../img/12-129971_m.jpg);
  background-size: cover;
 
}

.tituIni {
  text-align: center;
  font-weight: 700;
  font-size: xx-large;
  margin: 25px 10px 10px 10px;
}

.contIngreso {
  width: 70vh;
  height: 90%;
  background-color: rgb(65, 65, 65);
  border-style: solid;
  margin: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 7px 13px 37px #000;
  border-top: 4px solid #017bab;
  color: aliceblue;
}
.inputForm {
  border: 2px solid #017bab;
}
.contBot {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 50%;
  align-items: center;
}
.ingre {
  padding: 5px 5px 5px 5px;
  width: 150px;
  text-align: center;
}
.butIngreso {
  height: 50px;
  width: 90px;
  margin: 15px 5px 15px 5px;
  color: white;
  background-color: #017bab;
  border-color: white;
}
/* TERMINA PAGINA REGISTRO */

article.articTotal {
  background-color: aqua;
  display: flex;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  height: 100%;
}
.tituP {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
h1.bienvenido {
  font-size: 60px;
  margin: 5px 5px 5px 5px;
  padding: 5% 5% 5% 5%;
}
iframe.videoPre {
  padding: 5% 5% 5% 5%;
}
p.bienveP {
  text-align: justify;
  margin: 8px 10px 30px 10px;
  width: auto;
}

.contTarj {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "gridTrainer gridBox gridPrepF"
    "gridTenis gridCalis gridNutri";
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
}
.gridTrainer {
  grid-area: gridTrainer;
}
.gridBox {
  grid-area: gridBox;
}
.gridPrepF {
  grid-area: gridPrepF;
}
.gridTenis {
  grid-area: gridtenis;
}
.gridCalis {
  grid-area: gridCalis;
}
.gridNutri {
  grid-area: gridNutri;
}

.listado {
  display: flex;
  flex-wrap: wrap;
}
.olvi {
  margin-top: 30px;
  width: 150px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 30px;
}
.olvi:hover {
  color: #017bab;
}

/* PAGINA SEDES */
.imgCurso {
  width: 100%;
  border-radius: 3px;
  height: 200px;
  margin-bottom: 15px;
}
.cadaCurso {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 25px 25px 25px 25px;
  background: rgb(255, 255, 255);
  border-radius: 0.4em;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250, 250, 250) 0.2em solid;
 }
 
 .cadaCurso:hover {
  border: #1e3d66 0.2em solid;
 }
.cartaTitu {
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}
.cuotas {
  color: green;
  margin-top: 15px;
}
.cadaCurso p {
  margin-bottom: 20px;
}
.variasSedes {
  margin: 0px 0px 25px 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; font-size: 70px; 
  background: #202020; 
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text; 
  color: transparent; 
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.37),0px -1px 1px rgba(0,0,0,0.3);


}
.totalSede {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.tituSede {
  text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; font-size: 30px; 
  background: #202020; 
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text; 
  color: transparent; 
  text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}
.sedeCont {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.imgSede {
  margin-bottom: 30px;
  border: solid 1px grey;
}
.totalMiniImage {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.miniImage {
  height: 120px;
  width: 120px;
  margin-bottom: 25px;
  border: solid 1px grey;
}
.ubicaSede {
  margin-bottom: 50px;
}
.fondo {
  background-color: #0093E9;
    -webkit-animation: color-change-2x 10s linear infinite alternate both;
            animation: color-change-2x 10s linear infinite alternate both;
  }  

 @keyframes fondo{
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

/* TERMINA PAGINA SEDES */

/* PAGINA CONTACTO */
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

.inputarea {
  height: 150px;
  width: 300px;
}
.inputCont {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid rgb(0, 0, 0);
  background-color: rgb(65, 65, 65);
  margin-bottom: 5px;
}
.contact {
  width: 45%;
}
.placeholder {
  color: white;
}
.clasex {
  text-align: center;
}
div.clasex ul li {
  display: inline;
}
label {
  display: inline;
}
/* TERMINA PAGINA CONTACTO */

/* -------------------- media querie-------------- */
@media screen and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    height: 100%;
    width: 100%;
  }

  .contTarj {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "gridTrainer gridBox"
      "gridPrepF gridTenis"
      " gridCalis gridNutri";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: center;
    background-image: url(./../img/fondolight.jpg);
  }

  .title {
    font-size: 30px;
  }

  article.articTotal {
    display: block;
    height: 100%;
  }
  .tituP {
    display: block;
    width: auto;
    height: auto;
    font-size-adjust: initial;
  }
  .bienvenido {
    display: block;
    text-align: center;
  }
  .bienveP {
    display: block;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
  }

  .parte {
    width: 100%;
    font-size: 30px;
  }

  .totalRedes {
    display: block;
    height: 100%;
    background-size: cover;
  }

  .cadaCurso {
    height: auto;
    width: auto;
    justify-content: space-between;
  }
  .cadaCurso p {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }
  .cartaTitu {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .sobreNos {
    padding: 15px 10px 15px 10px;
  }

  .sobreNos p {
    font-size: 13px;
  }
  .contVideo{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}

  .tituRedes {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 10px;
    font-size: medium;
  }
  .redes {
    padding-left: 0px;
    justify-content: center;
  }
  .redes li {
    font-size: 12px;
  }
  .ubica {
    padding: 25px 25px 25px 25px;
    margin: 0px;
    justify-content: center;
  }
  .ubi {
    font-size: 13px;
  }

  .imgCurso {
    margin-bottom: 2px;
    height: 150px;
  }

  iframe {
    width: 90%;
    height: 90%;
  }
 

  /* -------barra desplegable------ */
/*   .iconMenu{
    position: absolute;
    display: contents;
  } */



/* media querie pagina Sedes */
.totalSede{
  display:block;
}
.imgSede{
  width: 90%;
}
.totalMiniImage{
justify-content: space-around;
}
.sedesSedes{
  width: 300px;
  height: 250px;
}
/* formulario de inicio de sesion responsive */
.IniSesion{
  width: 100%;
}
.contIngreso{
  width: 89%;
}
.videoQuerie{
  width: 150px;
  height: 150px;
}
.navegador{
  display:contents;
}
ul li a.listaIndex{
  display:none;
}
.navegador ul li a.botMenu {
  display: none;
}
/* nueva rama */

}